@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    
    .porsche {
        flex-direction: column-reverse;
        align-items: center;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    
    .header>.content {
        min-height: 80dvh;
        height: auto;
        padding: 30px 0;
    }
    
    .header h1 { 
        font-size: 100px;
    }
    
    .header .more {
        max-width: 200px;
        font-size: 20px;
    }
    
    .porsche, .gallery, .about {
        margin-top: 50px;
    }
    
    .about p, .about { 
        margin-bottom: 50px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    
    .menu {
        gap: 30px;
    }
    
    .header h1 {
        font-size: 72px;
    }
    
    .header .more {
        max-width: max-content;
        padding: 10px 20px;
        height: auto;
    }
    
    .porsche p {
        font-size: 16px;
        margin-bottom: 10px;
    }
    
    .gallery .content {
        flex-wrap: wrap;
    }
    
    .gallery img {
        width: 100%;
    }
    
    .about p {
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
    }
    
    .nav .burger {
        display: inline-block;
    }
    
    .menu {
        position: fixed;
        background: rgba(20, 20, 20, 0.8);
        top: 0;
        left: -100%;
        width: 100%;
        height: 100dvh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .burger:focus ~ .menu {
        left: 0;
    }
    
    .header h1 {
        font-size: 45px;
    }
    
    .title {
        font-size: 30px;
    }
    
    .porsche, .gallery, .about {
        text-align: center;
    }
    
    .footer .container {
        flex-wrap: wrap;
    }
    
}

@media (max-width: 350px) {
    .footer .container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
}